$primary: #6150dc;
$primary-dark: #403591;
$secondary: #54e0c7;
$secondary-dark: #3fa895;
$basic-light: #ffffff;
$basic-grey: #d1d1d1;
$basic-light-grey: #e9e9e9;
$basic-dark-grey: #7e7e7e;
$error: #af0101;
$head-black: #000000de;
$body-black: #000000b3;
