@import "../../styles/varibles.scss";

.timeline {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin: 0;
}
